#img-container {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  align-content: center;
}

#img-container > button {
  position: absolute;
  z-index: 99;
  box-shadow: 2px 2px black;
  color: white;
  background-color: orange;
  opacity: 0;
  padding: 1rem;
}

#img-container > button:hover {
  opacity: 0.5;
}

#img-container > img {
  position: absolute;
  z-index: 90;
}

#back-button {
  left: 0;
}

#next-button {
  right: 0;
}
