#img-container {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  align-content: center;
}

#img-container > button {
  position: absolute;
  z-index: 99;
  color: white;
  border: none;
  background: rgba(109, 214, 218, 0.2);
  opacity: 0;
  padding: 30% 10%;
  font-size: x-large;
}

#img-container > button:hover {
  opacity: 1;
}

#img-container > img {
  position: absolute;
  z-index: 90;
}

#back-button {
  left: 0;
}

#next-button {
  right: 0;
}
